*{
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    
}
header{
    background-color: #FFFF;
    padding: 30px;
    font-size: 24px;
    transition: color 0.3s ease;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav-barLeft{
color: black;
width: 40%;
}
.homePageButton{
    color: black;
    text-decoration: none;
    padding: 7px;
}
.homePageButton:hover{
    color: #C0BEC0;
}

.nav-barRight{
    display: inline;
    width: 60%;
    text-align: right;
}
.nav-a{
    text-decoration: none;
    color: black;
    padding : 10px;
}
.nav-a:hover{
    color: #C0BEC0;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.greet{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.greet span{
    font-size: 80px;
}
#kk {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 0;
}
.greet i {
    font-size: 20px;
}
#a-tags {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.greet a {
    width: 130px;
    height: 130px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.greet a:hover {
    border: 1px solid black;
    background-color: white;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 24px;
    transition: color 0.3s ease;
}
#line {
    width: 1000;
    height: 1px;
    margin: 10px 40px 26px;
    background-color: black;
}
.f {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 18px;
}
.f div {
    height: 91px;
    width: 250px;
}

